kind: tools
name: list_autovacuum_configurations
type: postgres-sql
source: cloudsql-pg-source
description: List PostgreSQL autovacuum-related configurations (name and current setting) from pg_settings.
statement: |
  SELECT name,
      setting
  FROM   pg_settings
  WHERE  category = 'Autovacuum';
authRequired: []
parameters: []
templateParameters: []
---
kind: sources
name: cloudsql-pg-source
type: cloud-sql-postgres
project: twisha-dev
region: us-central1
instance: sdk-testing
ipType: public
database: inventory
user: postgres
password: TestPassword1@
