kind: tools
name: list_pg_settings
type: postgres-list-pg-settings
source: cloudsql-pg-source
description: ""
authRequired: []
---
kind: sources
name: cloudsql-pg-source
type: cloud-sql-postgres
project: twisha-dev
region: us-central1
instance: sdk-testing
ipType: public
database: inventory
user: postgres
password: TestPassword1@
